<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.01" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.01" targetFramework="net40" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="CouchbaseNetClient" version="2.4.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.13.0" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>